.home {
    background:grey;
    align-content: center;
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    display:flex;
    
}

.loginscreen{
    /* background:rgb(205, 153, 218); */
    /* border: 2px solid rgb(24, 204, 84); */
    height:50%;
    width:30%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   
}



.input{
    height:13%;
    width: 50%;
    background-color: rgb(55, 37, 158);
    /* background : transparent; */
    border-radius: 2cm;
    color:rgb(177, 57, 57);
}

.button{
    width:200px;
    height:50px;
    font: size 50px;
    margin-top:30%;
    font-size: 20px;
    color:rgb(211, 24, 24);
}